<h1>/app/views/items/index.html.erb</h1>

<% if can? :access, :rails_admin%>
  <%= link_to 'admin',rails_admin_path,:class=> "btn"%>
<%end%>

<div class="row">
  <% @items.each do |item| %>
    <div class="col card l3 m4 s6">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg">
      </div>

      <div class="card-content">

        <span class="card-title activator grey-text text-darken-4">
          <%= item.name %>
          <i class="material-icons right">
            more_vert
          </i>
        </span>
        <p class="truncate">
          <%= item.description%>
        </p>
      </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <%= item.name%>
            <i class="material-icons right">
              close
            </i>
          </span>

          <div class="row">
            <div class="col s12">

              <table>
                <tr>
                  <th>Size</th>
                  <th>XXS</th>
                  <th>XS</th>
                  <th>S</th>
                  <th>M</th>
                  <th>L</th>
                  <th>XL</th>
                  <th>2XL</th>
                  <th>3XL</th>
                </tr>
                <tr>
                  <td>Stock</td>
                  <% if item.xxs > 0%>
                    <td>In Stock: <%= item.xxs %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.xs > 0%>
                    <td>In Stock: <%= item.xs %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.s > 0%>
                    <td>In Stock: <%= item.s %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.m > 0%>
                    <td>In Stock: <%= item.m %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>
                  <% if item.l > 0%>
                    <td>In Stock: <%= item.l %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.xl > 0%>
                    <td>In Stock: <%= item.xl %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.xxl > 0%>
                    <td>In Stock: <%= item.xxl %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>

                  <% if item.xxxl > 0%>
                    <td>In Stock: <%= item.xxxl %></td>
                  <% else %>
                    <p>Out of Stock!</p>
                  <% end %>
                </tr>
              </table>
            <% if item.quantity > 0%>
                <p>In Stock: <%= item.quantity %></p>
              <% else %>
                <p>Out of Stock!</p>
            <% end %>
            </div>
            <div class="row">
            <div class="col s6">
              <p>
                $<%= item.price %>
              </p>
            </div>
            </div>
          </div>

          <p>
            <%= item.description%>
          </p>

          <%= link_to 'Show', item %>

          <%if false%>
            <%= link_to 'Edit', edit_item_path(item) %>
          <% end%>
        </div>

      </div>

  <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>
