<h1>/app/view/items/show.html.erb</h1>
<div class="row">
  <div class="col l4 m4 s12">
    <!--item image-->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg">
      </div>
    </div>
  </div>

    <div class="right-align">
      <div class="col l8 m8 s12">
        <!--item description-->
        <h1><%= @item.name %></h1>
        <br>
        <div class="row">
          <div class="col s12">

            <table>
              <tr>
                <th>Size</th>
                <th>XXS</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2XL</th>
                <th>3XL</th>
              </tr>
              <tr>
                <td>Stock</td>
                <% if @item.xxs > 0%>
                  <td><%= @item.xxs %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.xs > 0%>
                  <td><%= @item.xs %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.s > 0%>
                  <td><%= @item.s %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.m > 0%>
                  <td><%= @item.m %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>
                <% if @item.l > 0%>
                  <td><%= @item.l %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.xl > 0%>
                  <td><%= @item.xl %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.xxl > 0%>
                  <td><%= @item.xxl %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>

                <% if @item.xxxl > 0%>
                  <td><%= @item.xxxl %></td>
                <% else %>
                  <p>Out of Stock!</p>
                <% end %>
              </tr>
            </table>
          </div>
        <p class="flow-text">Price: $<%= @item.price %></p>
        <p class="flow-text"><%= @item.description%></p>
      </div>
    </div>

</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
