<html>
<header class="page-header">

  <nav class="nav-extended">
    <div class="container">
    <div class="nav-wrapper">

      <!---<a href="#" data-target="slide-out" class="button-collapse"><i class="left material-icons">apps</i></a>--->

      <%= link_to 'Sam\'s LulaRoe site', root_path, :class=>"brand-logo hide-on-med-and-down"%>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>
          <form>

            <div class="hide-on-med-and-down input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="left material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>

          </form>
        </li>
        <li>
          <%= link_to root_path do%>
            Home
            <i class="small left material-icons">home</i>
          <% end %>
        </li>
        <li>
          <!--link_to block form-->
          <%= link_to root_path do%>
            Cart
            <i class="small left material-icons">shopping_cart</i>
          <% end %>
        </li>
        <%= render 'devise/menu/login_items'%>

      </ul>

    </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent center-align">

          <li class="tab waves-effect">
            <%= link_to root_path do%>
              Men
            <% end %>
          </li>
          <li class="tab waves-effect">
            <%= link_to root_path do%>
              Women
            <% end %>
          </li>
          <li class="tab waves-effect">
            <%= link_to root_path do%>
              Boys
            <% end %>
          </li>
          <li class="tab waves-effect">
            <%= link_to root_path do%>
              Girls
            <% end %>
          </li>
          <li class="tab">
            <%= link_to root_path do%>
              Exclusives
            <% end %>
          </li>

        </ul>
      </div>
  </div>
  </nav>
  <%= render "layouts/sidebar" %>
</header>
</html>