<ul id="slide-out" class="side-nav fixed">
  <li>
    <%= link_to 'Test link 1', root_path%>
  </li>
  <li>
    <%= link_to 'reddit', 'https://reddit.com'%>
  </li>
  <li>
    <%= link_to 'Test link 2', root_path%>
  </li>
  <div class="divider"></div>
  <li>
    <%= link_to 'Test link 3', root_path, :class=>"subheader"%>
  </li>
  <li>
    <%= link_to 'Test link 4', root_path%>
  </li>
</ul>