<!DOCTYPE html>
<html>
  <head>
    <title>PANTSCIS4357</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <%= render "layouts/header" %>
  <body class="">
    <main>
      <% if notice %>
        <div class="alert alert-info">
          <div class="card">
            <div class="card-content">
              <%= notice %>
            </div>
          </div>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning">
          <div class="card">
            <div class="card-content">
              <%= alert %>
            </div>
          </div>
        </div>
      <% end %>
      <%= render "layouts/sidebar" %>
      <%= yield %>
    </main>
  </body>
  <%= render "layouts/footer" %>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script>
      $(document).ready(function(){
          // Init Carousel
          $('.carousel').carousel();

          // Init Carousel Slider
          $('.carousel.carousel-slider').carousel({fullWidth:true});

          // Fire off toast
          //Materialize.toast('Hello World', 3000);

          // Init Slider
          $('.slider').slider();

          // Init Modal
          $('.modal').modal();

          // Init Sidenav
          $('.sidenav-trigger').sideNav();
      });
  </script>
</html>
