<!DOCTYPE html>
<html>
  <head>
    <title>PANTSCIS4357</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body class="">
    <%= render "layouts/header" %>
    <div class="container">
    <main>
      <% if notice %>
        <div class="alert alert-info">
          <div class="card">
            <div class="card-content">
              <%= notice %>
            </div>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning">
          <div class="card">
            <div class="card-content">
              <%= alert %>
            </div>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
